Options -Indexes
DirectoryIndex index.php

<FilesMatch "^(\.env|composer\.(json|lock))$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # All internal application directories are inside the webroot, but never public.
    RewriteRule ^(?:app|setup|var|vendor)(?:/|$) - [F,L,NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
